<div class="page-header">
  <h1>Track Attack<small>  Best in world bro</small></h1>
</div>
<hr/>

<h2><a href="/tracks">Check Out the tunes!</a></h2>
<% if current_user %>
  
  <h3>Welcome, <%= current_user[:username] %>!
  </h3>
  <a href="/users/logout">Log Out</a>
<% else %>
  <h3><a href='/users/login'>Log in here</a></h3>
  <p>Not a registered user?<a href='/users/new'>Sign up here!</a></p>
<% end %>
